<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TwitchChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="TwitchChecker.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TwitchChecker.Properties.Settings>
			<setting name="Quality" serializeAs="String">
				<value>High</value>
			</setting>
			<setting name="Username" serializeAs="String">
				<value />
			</setting>
			<setting name="Password" serializeAs="String">
				<value />
			</setting>
			<setting name="ViewMode" serializeAs="String">
				<value>Popout</value>
			</setting>
			<setting name="UpdateIntervall" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ShowNotification" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Location" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="Size" serializeAs="String">
				<value>454, 578</value>
			</setting>
			<setting name="WindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="ShowOfflineChannels" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PlayNotificationSound" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="KeepConsoleOpen" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StartWithWindows" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="HideConsole" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Theme" serializeAs="String">
				<value>Dark</value>
			</setting>
			<setting name="Setting" serializeAs="String">
				<value />
			</setting>
		</TwitchChecker.Properties.Settings>
		<TwitchChecker.UI.Properties.Settings>
			<setting name="Quality" serializeAs="String">
				<value>High</value>
			</setting>
			<setting name="Username" serializeAs="String">
				<value />
			</setting>
			<setting name="Password" serializeAs="String">
				<value />
			</setting>
			<setting name="ViewMode" serializeAs="String">
				<value>Popout</value>
			</setting>
			<setting name="UpdateIntervall" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ShowNotification" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Location" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="Size" serializeAs="String">
				<value>454, 578</value>
			</setting>
			<setting name="WindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="ShowOfflineChannels" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PlayNotificationSound" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="KeepConsoleOpen" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StartWithWindows" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="HideConsole" serializeAs="String">
				<value>False</value>
			</setting>
		</TwitchChecker.UI.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>